h3{
	text-align: center;
	width: 100%;
	color:white;
	font-size: 30px;
}

h4{
	text-align: center;
	color: white;
	font-size: 25px;
}

h6{
	text-align: center;
	color:white;
	font-size: 25px;
	
}

.fundo div{
	background-color:white;
	opacity: 0.5;
}

